// No need for vendor prefixes here -- handled by autoprefixer.

$color-text: #222;

body {
	max-width: 37rem;
	margin: 3.5em auto;
	font-size: 1.1rem;
	line-height: 1.55;
	color: $color-text;
}

ul {
	margin-top: 3em;
}

code {
	background-color: #eaeaea;
	padding: 0.08em 0.4em;
	border-radius: 0.17em;
}
